:root {
  --background: #282c34;
  --white: #f8f8f8;
  --gray: #d7d7d7;
  --pink: #ff57b2;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  font-family: 'Inter', sans-serif;

  p {
    color: var(--gray);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--white);
  }
}
